
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<!---->
    <div id="area_ID">
        <div class="logo_modal"></div>

        <div class="container_steps">
          <!--  <h3>Nombre de la tienda</h3>-->
            <h4>There are many variations of passages of Lorem Ipsum available</h4>

            <div class="content_options__selects">
                <p class="store_select">¿Como deseas obtener tus productos?</p>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xs-6">
                           <div class="container">
                            <div class="figure_container border_fig">
                                <div class="ico_figure icon_ciudad"></div>
                                <button (click)="navEntregar()" class="btn btn_figure">Entregar a domicilio</button>
                                <div class="content__addres">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>Lorem Ipsum</p>
                                </div>
                            </div>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xs-6">
                            <div class="container">
                                <div class="figure_container">
                                    <div class="ico_figure icon_tienda_sucursal"></div>
                                    <button (click)="navRecoger()" class="btn btn_figure">Recoger en tienda</button>
        
                                   
        
                                    <div class="content__addres">
                                        <p>There are many variations of passages of Lorem Ipsum available.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
</html>