<div class="container_steps">
    <div class="logo_modal">
        <img src="assets/img/logo.jpg">
    </div>
    <!--  <h3>Nombre de la tienda</h3>-->
    <h4>There are many variations of passages of Lorem Ipsum available</h4>
    <div class="content_options__selects">
        <p class="store_select">¿Como deseas obtener tus productos?</p>
        <div class="container">
            <mat-progress-bar *ngIf="progress_tipo_pedido" mode="indeterminate" color="accent"></mat-progress-bar>

            <div class="row" *ngFor="let item of lista_tipos_pedidos">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-6">
                    <div class="container">
                        <div class="figure_container border_fig">
                            <div class="ico_figure icon_ciudad">
                                <img *ngIf="item.item[0].imagen_EA == 'n/a'" src="assets/img/image-not-found.png">
                                <img *ngIf="item.item[0].imagen_EA != 'n/a'" [src]="item.item[1].imagen_EA">
                            </div>
                            <button (click)="navTipoPedido(item.item[0].elemento_Asignado)" class="btn btn_figure">{{item.item[0].descripcion}}</button>
                            <div class="content__addres" *ngIf="item.item[0].observacion_1 != 'n/a'">
                                <p >{{item.item[0].observacion_1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-12 col-lg-6 col-xs-6">
                    <div class="container">
                        <div class="figure_container">
                            <div class="ico_figure icon_tienda_sucursal">
                                <img *ngIf="item.item[1].imagen_EA == 'n/a'" src="assets/img/image-not-found.png">
                                <img *ngIf="item.item[1].imagen_EA != 'n/a'" [src]="item.item[1].imagen_EA">
                            </div>
                            <button (click)="navTipoPedido(item.item[1].elemento_Asignado)" class="btn btn_figure">{{item.item[1].descripcion}}</button>
                            <div class="content__addres" *ngIf="item.item[1].observacion_1 != 'n/a'">
                                <p >{{item.item[1].observacion_1}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>