<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Error! No se encontró el recurso.</h2>
        <p>Es posible que la página que está buscando se haya eliminado si se cambió el nombre o no está disponible
            temporalmente. <a (click)="returnHomeNav()">Regresar a la página de inicio</a></p>
        <div class="notfound-social">
            <a>
                <fa-icon [icon]="faUser"></fa-icon>
            </a>
            <a>
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
            <a>
                <fa-icon [icon]="faPaperPlane"></fa-icon>
            </a>
            <a>
                <fa-icon [icon]="faMapMarkedAlt"></fa-icon>
            </a>
        </div>
    </div>
</div>