<div class="container">
    <div class="row">
        <div class="col">
            <div class=" precio_normal">
                <p>Q31.00</p>
            </div>
            <div class="precio_oferta">
                <p>Q28.00</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--<fa-icon class="color_tooltip" [icon]="faSquare"></fa-icon>-->
            <p>Colores</p>
            <button *ngFor="let color of jsonColor; let indexColor = index" class="button_color" mat-mini-fab
                matTooltip="{{color.text}}" matTooltipPosition="above" [style.background]="color.color"
                (click)="selectColor(indexColor)"></button>
            <div *ngFor = "let precios of mostrarPrecios; let indexPrecios = index">
               <div  *ngIf="mostrarPrecios[indexPrecios]">
                <mat-selection-list #shoes [multiple]="false">
                    <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                        {{shoe}}
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Precio Seleccionado: {{shoes.selectedOptions.selected[0]?.value}}
                </p>
               </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="padd_20">Tonalidades</p>
            <button *ngFor="let tonos of typesOfTona" type="button"
                class="btn btn-light border btn_tonos">{{tonos}}</button>
        </div>
    </div>
</div>