<div class="container">
    <div class="row">
        <div class="col">
            <div class=" precio_normal">
                <p>Q31.00</p>
            </div>
            <div class="precio_oferta">
                <p>Q28.00</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--<fa-icon class="color_tooltip" [icon]="faSquare"></fa-icon>-->
            <button class="button_color" mat-mini-fab matTooltip="Amarillo" matTooltipPosition="above" style="background: #FCF821;"></button>        
            <button class="button_color" mat-mini-fab matTooltip="Rojo" matTooltipPosition="above" style="background: #FC2121;"></button>
            <button class="button_color" mat-mini-fab matTooltip="Naranja" matTooltipPosition="above" style="background: #FC9521;"></button>
            <button class="button_color" mat-mini-fab matTooltip="Violeta" matTooltipPosition="above" style="background: #AC21FC;"></button>
            <button class="button_color" mat-mini-fab matTooltip="Gris" matTooltipPosition="above" style="background: #5F5859;"></button>
            <button class="button_color" mat-mini-fab matTooltip="Corinto" matTooltipPosition="above" style="background: #910A1A;"></button>

        </div>
    </div>
</div>