<mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <mat-toolbar class="head__sidenav ">
            <span class="spacer"></span>
            <h6>Opciones</h6>
            <span class="spacer"></span>
            <mat-icon class="icon_close_head" (click)="close('toggle button')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </mat-icon>
        </mat-toolbar>
        <div class="container-fluid">
            <div class="card_user">
                <div class="icon_user">
                    <fa-icon [icon]="faUserCircle"></fa-icon>
                </div>
                <div class="info_user">
                    <h6>Nombre_Usuario</h6>
                </div>
                <div class="options_user">
                    <div class="item__option" [ngClass]="optionsUser[indexOptions] ? 'active': 'inactive'"
                        *ngFor="let options of jsonOpsyionUser; let indexOptions = index"
                        (click)="changeClass(indexOptions); options.action">
                        <div class="content_option">
                            {{options.option}}
                            <fa-icon [icon]="options.icon" class="icon_card"></fa-icon>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>

        <mat-toolbar class="head__sidenav ">
            <mat-icon class="icon_close_head" (click)="close('toggle button')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </mat-icon>
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
        </mat-toolbar>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbarPhone">
            <mat-toolbar-row>
                <button (click)="sidenav.open()" mat-icon-button aria-label="Example icon-button with menu icon">
                    <fa-icon class="icon_toolbar" [icon]="faBars"></fa-icon>
                </button>

                <span class="spacer"></span>
                <!--
                <button (click)="sidenavend.open()" mat-icon-button class=""
                    aria-label="Example icon-button with share icon">
                    <fa-icon class="icon_toolbar" [icon]="faBars"></fa-icon>
                </button>
                -->
            </mat-toolbar-row>
            <mat-toolbar-row>

                <span class="spacer"></span>

            </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar class="toolbarlarge">
            <!--
            <button (click)="sidenav.open()" mat-icon-button 
                aria-label="Example icon-button with menu icon">
                <fa-icon class="icon_toolbar" [icon]="faBars"></fa-icon>
            </button>
            -->
            <span class="spacer"></span>

            <!--
            <button (click)="sidenavend.open()" mat-icon-button class=""
                aria-label="Example icon-button with share icon">
                <fa-icon class="icon_toolbar" [icon]="faBars"></fa-icon>
            </button>
            -->
        </mat-toolbar>
        <!--Container-->
        <div class="container_page">
            <div class="container_start">
                <!--Content Start-->
                <div class="card_user">
                    <div class="icon_user">
                        <fa-icon [icon]="faUserCircle"></fa-icon>
                    </div>
                    <div class="info_user">
                        <h6>Nombre_Usuario</h6>
                    </div>
                    <div class="options_user">
                        <div class="item__option" [ngClass]="optionsUser[indexOptions] ? 'active': 'inactive'"
                            *ngFor="let options of jsonOpsyionUser; let indexOptions = index"
                            (click)="changeClass(indexOptions); options.action">
                            <div class="content_option">
                                {{options.option}}
                                <fa-icon [icon]="options.icon" class="icon_card"></fa-icon>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container_main">
                <!--Content main-->

                <div class="container" *ngIf="viewAcount && !viewPedido && !viewDetailsPedido">
                    <div class="row">
                        <div class="col-12">
                            <div class="p">No hay usuarios</div>
                        </div>
                    </div>
                </div>


                <div class="container" *ngIf="!viewAcount && !viewPedido && viewDetailsPedido">
                    <div class="row">
                        <div class="col-12">
                            <p>Detalles Pedido</p>
                        </div>
                    </div>
                </div>

                <div class="container_content" *ngIf="!viewAcount && viewPedido && !viewDetailsPedido">
                    <div class="container_table">
                        <table class="rtable">
                            <thead>
                                <tr>
                                    <th *ngFor="let key of jsonHead">{{key}}</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pedido of jsonPedidos; let indexPedidos = index">
                                    <td>{{pedido.pedido}}</td>
                                    <td>{{pedido.fecha}}</td>
                                    <td>{{pedido.estado}}</td>
                                    <td>{{pedido.total}}</td>
                                    <td>
                                        <div class="options" (click)="viewDetails(pedido)">Ver <fa-icon [icon]="faEye">
                                            </fa-icon>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>