/*SideNav*/

.icon_close_head {
  cursor: pointer;
}

.head_carr_end {
  color: #000;
  font-weight: 300;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 365px;
}

@media screen and (max-width: 365px) {
  mat-sidenav {
    width: 100%;
  }
}

.sidenav_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Fin SideNav*/

/*Toolbar*/

.iconCartPedido {
  margin-right: 5px;
}

.icon_toolbar {
  font-size: 22px;
}

.toolbarPhone {
  display: none;
}

.toolbarPhone, .toolbarlarge {
  position: fixed !important;
}

@media screen and (max-width: 767px) {
  .toolbarlarge {
    display: none !important;
  }
  .toolbarPhone {
    display: block !important;
  }
}

/*Fin Toolbar*/

/*Contendo derecho*/

.container_main::-webkit-scrollbar {
  width: 7px;
}

.container_main::-webkit-scrollbar-track {
  background: #f3c5d3;
}

.container_main::-webkit-scrollbar-thumb {
  background-color: #FD306E;
  border-radius: 20px;
  border: 3px #f3c5d3;
}

.container_page {
  height: 100vh;
  width: 100vw;
  margin-top: 65px;
  position: fixed;
}

.container_start {
  width: 190px;
  height: 100%;
  float: left;
  overflow: auto;
}

.container_main {
  width: calc(100% - 190px);
  height: 100%;
  float: left;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  .container_start {
    display: none;
  }
  /*
  .container_page {
    margin-top: 128px;
  }
  */
  .container_main {
    width: 100%;
  }
}

.head__sidenav {
  height: 44px !important;
}

/*Fin Contendo derecho*/

/*Estilos propios*/

.card_user {
  color: #d84672;
}

.options {
  cursor: pointer;
}

/*Card user*/

.icon_card {
  float: right;
}

.icon_user {
  font-size: 50px;
  text-align: center;
  color: #d9d7ce;
}

.info_user {
  text-align: center;
  text-transform: lowercase;
}

.info_user:first-letter {
  text-transform: uppercase;
}

.item__option {
  height: 35px;
  cursor: pointer;
}

.item__option:hover {
  color: #fff;
  background-color: #FD306E;
}

.content_option {
  padding: 5px 10px;
  font-weight: 500;
}

.active_opt {
  color: #fff;
  background-color: #FD306E;
}

/*Lista Estilos*/

.list-group-item {
  cursor: pointer;
  /*
  border-left: none;
  border-right: none;
  */
}

/*Detalles producto*/
.row_containerAcordion{
  margin-bottom: 80px;
}

.accordion-button:not(.collapsed) {
  font-size: 20;
  font-weight: bold;
  color: #d84672 !important;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #fff !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(253, 253, 253, 0.25);
}

.accordion-button {
  font-size: 20;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button:not(.collapsed)::after{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}



.btnBack {
  cursor: pointer;
  font-size: 21px;
  margin: 2px;
  position: fixed;
  color: #d84672;
}

@media screen and (max-width: 991px) {
  .btnBack {
    cursor: pointer;
    font-size: 20px;
    margin: 2px;
    position: fixed;
    color: #d84672;
  }
}

.padd_top {
  padding-top: 40px;
}

.icon__step {
  color: #fff;
}

.icon__descrip {
  color: #d84672;
  font-size: 20px;
  padding-right: 5px;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box__desc p {
  color: #000;
}

.box__desc p strong {
  color: #d84672 !important;
}

@media screen and (max-width: 991px) {
  .step-name {
    display: none;
  }
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #d84672;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #d84672;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}

/**/