
<table class="rtable">
    <thead>
        <tr>
            <th *ngFor="let key of jsonHead">{{key}}</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of jsonPedidos; let indexPedidos = index">
            <td>{{pedido.pedido}}</td>
            <td>{{pedido.fecha}}</td>
            <td>{{pedido.estado}}</td>
            <td>{{pedido.total}}</td>
            <td>
                <div class="options" (click)="viewDetails(pedido)">Ver <fa-icon [icon]="faEye"></fa-icon>
                </div>
            </td>
        </tr>
    </tbody>
</table>