.logo_modal{
    align-items: center;
    justify-content: center;
}

.logo_modal img {
    width: 175px;
    height: auto;
    display:block;
    margin:auto;
}

h3 {
    margin: 5px;
    font-weight: 700;
    color: #FD306E;
    text-align: center;
    font-size: 20px;
}

.productos_item {
    margin: 10px;
    margin-bottom: 10px;
}

.container_btnagregartp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_btnagregartp .btn_figure__sucu {
    width: 60%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 10px;
    background: #d84672;
}

.productos_item .producto_img {
    background-size: auto 100%!important;
    height: 150px;
}

.productos_item p {
    text-align: center;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 600;
    color: #d84672;
}


/*Footer*/
.footer_page{
    position: fixed;
    bottom: 0;
    top: 10;
    width: 100%;
    z-index: 9999;
    height: 40px;
    background: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 12px;
}

.logo_footer{
    width: 40px;
    margin-left: 10px;
}
/*Fin Footer*/