<div class="container" style="padding-bottom: 50px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <div class="logo_modal">
                <img src="assets/img/logo_empresa.png">
            </div>
            <h3 *ngIf="forma_pedido=='domicilio'">¿DE CUÁL TIENDA DESEAS QUE ENVÍEN TU PEDIDO?</h3>
            <h3 *ngIf="forma_pedido=='recoger'">¿EN QUE TIENDA DESEAS RECOGER TU PEDIDO?</h3>
            <h3>¿EN QUE TIENDA DESEAS REALIZAR TU PEDIDO?</h3>
        </div>
    </div>
    <div class="row">
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate" color="accent"></mat-progress-bar>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xs-4" *ngFor="let element of tiendas">
            <div class="productos_item" *ngIf="!progressBar">
                <div class="producto_img"
                    style="background: url('assets/img/image-not-found.png') no-repeat center;">
                </div>
                <p>{{element.nombre}}</p>
                <div class="container_btnagregartp">
                    <button (click)="tiendaSeleccionada(element);" class="btn btn_figure__sucu">Seleccionar
                        Tienda</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer_page  border-top">
    <span class="text-muted">© 2021 Powered By Dmosoft S.A.</span>
    <img src="assets/img/demosoft.png" class="logo_footer">
</div>