<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">


    <mat-toolbar class="example-toolbar">
        <button class="side_categoria" mat-icon-button (click)="snav.toggle()">
            <mat-icon>
                <fa-icon [icon]="faBars"></fa-icon>
            </mat-icon>
        </button>
        <div class="logo">
            <h1>{{precio_vusuario}} GTQ</h1>
        </div>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">

            <button class="buscar-ico" type="submit">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
        </form>
        <span class="example-spacer"></span>

        <div class="logo">

        </div>
        <button mat-icon-button (click)="login()">
            <mat-icon>
                <fa-icon [icon]="faUserCircle" matTooltip="Login" matTooltipPosition="below" class="login-ico">
                </fa-icon>
            </mat-icon>
        </button>
        <button mat-icon-button (click)="snavend.toggle()">
            <mat-icon>
                <mat-icon matBadge="{{carrito_cantidad}}" matBadgeColor="warn">
                    <fa-icon [icon]="faShoppingCart"></fa-icon>
                </mat-icon>
                <span class="cdk-visually-hidden">
                    Mi Carrito
                </span>
            </mat-icon>
        </button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav mode="side" position="end" #snavend [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">End content</mat-sidenav>

        <mat-sidenav-content>
            <div class="container-fluid container-all">

                <!--Modal login-->

                <div class="my_modalpg ng-scope" *ngIf="login_modal">
                    <div class="modalpg_dialog">
                        <div id="area_detalleproductot">
                            <div class="header_dprocuto no_border">
                                <div class="areacerrar">
                                    <fa-icon [icon]="faTimes" (click)="cModalLogin()" class="icocerrar"></fa-icon>

                                </div>
                            </div>
                            <div class="container_detalle">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                            <div class="container center">
                                                <div class="login">
                                                    <div class="login-bottom" *ngIf="registro_form">
                                                        <h3>Registrate</h3>
                                                        <form #registroForm="ngForm">
                                                            <div class="sign-up">
                                                                <h4>Nombre :</h4>
                                                                <input type="text">
                                                            </div>
                                                            <div class="sign-up">
                                                                <h4>Apellido :</h4>
                                                                <input type="text">
                                                            </div>
                                                            <div class="sign-up">
                                                                <h4>Celular :</h4>
                                                                <input type="text">
                                                            </div>
                                                            <div class="sign-up">
                                                                <h4>Correo electronico :</h4>
                                                                <input type="text">

                                                            </div>
                                                            <div class="sign-in">
                                                                <a (click)="registroUser()">Iniciar Sesion</a>
                                                            </div>
                                                            <br>
                                                            <div class="sign-up">
                                                                <input type="submit" value="REGISTRATE AHORA">
                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="login-right" *ngIf="!registro_form">
                                                        <h3>Inicia sesión con tu cuenta</h3>
                                                        <form>
                                                            <div class="sign-in">
                                                                <h4>Correo electronico :</h4>
                                                                <input type="text">
                                                            </div>
                                                            <div class="sign-in">
                                                                <h4>Contraseña :</h4>
                                                                <input type="password">
                                                                <a>Olvidaste tu contraseña?</a>
                                                                <p></p>
                                                                <a (click)="registroUser()">Registrate</a>
                                                            </div>
                                                            <div class="single-bottom">
                                                                <input type="checkbox" id="brand" value="">
                                                                <label for="brand"><span></span>Recordar mis
                                                                    datos.</label>
                                                            </div>
                                                            <div class="sign-in">
                                                                <input type="submit" value="INICIAR SESION">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div><!-- end ngIf: verdetalle -->
                </div>
            </div>


            <!--Modal detalle Producto-->

            <div class="my_modalpg ng-scope" *ngIf="detalle_producto">
                <div class="modalpg_dialog">
                    <div id="area_detalleproductot">
                        <div class="header_dprocuto no_border">
                            <div class="areacerrar">
                                <fa-icon [icon]="faTimes" (click)="cdetalle()" class="icocerrar"></fa-icon>
                            </div>
                        </div>

                        <!--producto_seleccionado-->
                        <div class="container_detalle">

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-6">

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-2 col-xs-2 izquierda">
                                                    <img *ngFor="let foto of fotos; let i = index"
                                                        (mouseenter)="seleccionarImagen(i)"
                                                        [class.seleccionada]="i==indiceSeleccionado"
                                                        class="imagen-izquierda" [src]="resolverFoto(i)" alt="Foto">
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-10 col-xs-10">
                                                    <img [src]="resolverFoto(indiceSeleccionado)"
                                                        class="imagen-derecha">
                                                </div>
                                            </div>
                                        </div>

                                        <!--
                                           <div class="container">
                                                <div class="imgproduto_detale"
                                                style="background:url('assets/img/image-not-found.png')no-repeat center"
                                                *ngIf="!producto_seleccionado.url_Img">
                                            </div>
                                            <div class="imgproduto_detale"
                                                style="background:url('{{producto_seleccionado.url_Img}}')no-repeat center"
                                                *ngIf="producto_seleccionado.url_Img">
                                            </div>
                                           </div>
                                           -->
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-6">
                                        <div class="detalles-product">
                                            <div class="tit_dprod">
                                                <p class="ng-binding">{{producto_seleccionado.descripcion}}</p>
                                            </div>


                                            <div class="producto_descri" *ngIf="no_hay_producto_detalle">
                                                <div class="container_vermenos ng-scope">
                                                    <p class="ng-binding">
                                                        SKU {{producto_seleccionado.producto_Id}}
                                                    </p>
                                                    <p class="ng-binding">
                                                        {{producto_seleccionado.descripcion_Alt}}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="producto_descri"
                                                *ngIf="!presentacion && no_hay_producto_detalle">
                                                <div class="container_vermenos ng-scope">
                                                    <p class="ng-binding">
                                                        SKU {{presentacion_producto[0].iD_Producto}}
                                                    </p>
                                                    <p class="ng-binding">
                                                        {{producto_seleccionado.descripcion_Alt}}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="producto_descri "
                                                *ngIf="presentacion && !no_hay_producto_detalle">
                                                <div class="container_vermenos ng-scope">
                                                    <p class="ng-binding">
                                                        SKU {{presentacion_producto[0].iD_Producto}}
                                                    </p>

                                                    <p class="ng-binding">
                                                        {{presentacion_producto[0].descripcion_Alt_Producto}}
                                                    </p>
                                                    <p class="ng-binding">
                                                        Presentación
                                                    </p>


                                                </div>
                                            </div>

                                            <!--No hay detalle del producto-->
                                            <div class="col-sm-12 spi spd" *ngIf="no_hay_producto_detalle">
                                                <form class="form-horizontal form_left">
                                                    <div class="container_cant">
                                                        <div class="container_addproducto">
                                                            <div class="container">

                                                                <div class="row">
                                                                    <label class="m_unit">
                                                                        No se ha encontrado información de este
                                                                        producto.
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="container_buttonsdetaller ng-scope">
                                                            <button type="submit" class="btn_agregarproducto ng-scope"
                                                                (click)="cdetalle()">
                                                                Cancelar
                                                            </button>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>

                                            <!--Varias Presentaciones-->
                                            <div class="col-sm-12 spi spd"
                                                *ngIf="presentacion && !no_hay_producto_detalle">
                                                <form class="form-horizontal form_left">
                                                    <div class="container_cant">
                                                        <div class="container_addproducto"
                                                            *ngFor="let element of presentacion_producto; let indice=index">
                                                            <div class="container">

                                                                <div class="row"><label
                                                                        class="m_unit">{{element.presentacion}}</label>
                                                                </div>
                                                                <div class="row">
                                                                    <span for="4951">
                                                                        Q.{{NumberToString(element.precio_Unidad)}}
                                                                    </span>
                                                                </div>
                                                            </div>


                                                            <div class="form_unit">
                                                                <fa-icon [icon]="faMinus" class="btn_menos"
                                                                    (click)="menosProductoVarios(indice)"></fa-icon>

                                                                <input
                                                                    class="input_forms ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min"
                                                                    type="number" value="{{cantidades_varias[indice]}}"
                                                                    readonly="">
                                                                <fa-icon [icon]="faPlus" class="btn_mas"
                                                                    (click)="masProductoVarios(indice)"></fa-icon>

                                                            </div>
                                                        </div>

                                                        <div class="container_buttonsdetaller ng-scope">
                                                            <button type="submit" class="btn_agregarproducto ng-scope"
                                                                (click)="addCarrito(producto_seleccionado,cantidad_producto)">
                                                                Agregar al carrito
                                                            </button>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>


                                            <!--varios precios-->
                                            <div class="col-sm-12 spi spd"
                                                *ngIf="!presentacion && !no_hay_producto_detalle">
                                                <form class="form-horizontal form_left">
                                                    <div class="container_cant">
                                                        <div class="container_addproducto"
                                                            *ngFor="let element of presentacion_producto; let indice=index">
                                                            <div class="container">

                                                                <div class="row"><label
                                                                        class="m_unit">{{element.des_Tipo_Precio}}</label>
                                                                </div>
                                                                <div class="row">
                                                                    <span for="4951">
                                                                        Q.{{NumberToString(element.precio_Unidad)}}
                                                                    </span>
                                                                </div>
                                                            </div>


                                                            <div class="form_unit">
                                                                <fa-icon [icon]="faMinus" class="btn_menos"
                                                                    (click)="menosProductoVarios(indice)"></fa-icon>

                                                                <input
                                                                    class="input_forms ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min"
                                                                    type="number"
                                                                    value="{{cantidades_varias_TP[indice]}}"
                                                                    readonly="">
                                                                <fa-icon [icon]="faPlus" class="btn_mas"
                                                                    (click)="masProductoVarios(indice)"></fa-icon>

                                                            </div>
                                                        </div>

                                                        <div class="container_buttonsdetaller ng-scope">
                                                            <button type="submit" class="btn_agregarproducto ng-scope"
                                                                (click)="addCarrito(producto_seleccionado,cantidad_producto)">
                                                                Agregar al carrito
                                                            </button>
                                                        </div>

                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div><!-- end ngIf: verdetalle -->
                </div>
            </div>

            <div class="container-fluid" *ngIf="!detalle_producto">
                <div class="row">
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xs-2">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="banner_logotienda"></div>
                                </div>

                                <div class="contaner_categoria_phone">
                                    <div class="item_categoria_phone" (click)="getProductos(0)">
                                        <p>Todas</p>
                                    </div>

                                    <div class="item_categoria_phone ng-scope" *ngFor="let element of categorias"
                                        (click)="getProductos(element.categoria)">
                                        <p>{{element.descripcion}}</p>
                                    </div>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="container__menucategoriast">
                                    <h2 class="title_catpro">Categorías</h2>

                                    <ul class="menul acordeon">

                                        <!--
                                                [ngClass]="categoria_activa == 0 ? 'active': 'inactive'"-->
                                        <li class="item__menul acordeon__item "
                                            [ngClass]="categoria_activa == 0 ? 'active': 'inactive'"
                                            (click)="getProductos(0)"><label class="acordeon__titulo">Todas
                                            </label>
                                        </li>

                                        <li class="item__menul acordeon__item"
                                            *ngFor="let padres of categorias_padre; let i=index"
                                            [ngClass]="categoria_activa == padres.categoria ? 'active': 'inactive'"
                                            (click)="getProductos(padres.categoria)">
                                            <input type="checkbox" name="acordeon" id="item{{i}}">
                                            <label for="item{{i}}" class="acordeon__titulo">{{padres.descripcion}}
                                            </label>
                                            <div class="acordeon__container"
                                                *ngFor="let hijos of filtrarCategorias_hijo(padres); let indice=index"
                                                (click)="getProductos(hijos.categoria)">
                                                <p>{{hijos.descripcion}}</p>

                                            </div>
                                        </li>

                                    </ul>




                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="col-sm-12 col-md-10 col-lg-10 col-xs-10">
                        <div class="container-fluid">

                            <div class="row">

                                <!--Not found-->

                                <!--
                                    <div class="container" *ngIf="!producto_exist">
                                        <div class="row">
                                            <div class="col-12">
                                                <app-not-found-product></app-not-found-product>
                                            </div>
                                        </div>
                                    </div>
                                    -->

                                <div class="col-sm-12 col-md-6 col-lg-4 col-xs-3" *ngFor="let element of productos">

                                    <div class="container" *ngIf="producto_exist">
                                        <div class="row">
                                            <div class="col-md-3 product-me">
                                                <div class="product-item">

                                                    <div class="image-product" *ngIf="!element.url_Img"
                                                        (click)="productoDetalle(element)">
                                                        <img src="assets/img/image-not-found.png" class="center">
                                                    </div>
                                                    <div class="image-product" *ngIf="element.url_Img"
                                                        (click)="productoDetalle(element)">
                                                        <img src="{{element.url_Img}}">
                                                    </div>

                                                    <div class="nombre_producto">
                                                        <h4 class="ng-binding">SKU {{element.producto_Id}}</h4>
                                                        <p class="ng-binding">{{element.descripcion}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </mat-sidenav-content>
    </mat-sidenav-container>
</div>