* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

/*Estilos para el encabezado*/

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.logo h1 {
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}

.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/

.closeSidebar {
  font-size: 25px;
  margin: 10px;
}

.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.cont-menu {
  width: 100%;
  max-width: 365px;
  background: #fff;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  z-index: 200;
}

/*Fin de Menù lateral*/

/*Tarjeta Producto*/

.product-me {
  float: left;
  width: 100%;
  height: 300px;
  background: transparent;
  box-shadow: none;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #fff;
}

.image-product img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.nombre_producto h4 {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
  font-size: 12px;
  font-weight: 600;
  color: #aa4060;
  padding: 5px;
}

.nombre_producto p {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight: 600;
  color: #d84672;
}

/*Fin Tarjeta Producto*/

/*Estilos Carrito*/

.head_carrito {
  float: left;
  width: 100%;
  padding: 13px;
  position: fixed;
  top: 0;
  background: #d84672;
  z-index: 100;
}

.head_carrito p {
  float: left;
  width: 75%;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  padding-left: 85px;
}

.carrito_container {
  float: left;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.body_carrito {
  float: left;
  width: 100%;
  height: 73%;
  overflow: auto;
}

.body_carrito .bodyc__item {
  float: left;
  width: 100%;
  padding: 5px;
  height: 150px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  background: var(--grisc);
}

.body_carrito .bodyc__item .img_producto {
  float: left;
  width: 80px;
  height: 60px;
  margin-right: 10px;
  margin-top: 10px;
}

.body_carrito .bodyc__item .img_producto img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.body_carrito .bodyc__item .info_producto {
  float: left;
  width: 205px;
}

.body_carrito .bodyc__item .info_producto .info__opciones {
  float: left;
  width: 100%;
  height: 100%;
}

.body_carrito .bodyc__item .info_producto .info__opciones .wformdatos {
  float: left;
  width: 70%;
}

.body_carrito .bodyc__item .info_producto .info__opciones h3 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0;
  color: #FD306E;
}

.body_carrito .bodyc__item .info_producto .info__opciones p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
  color: #FD306E;
}

.body_carrito .bodyc__item .info_producto .info__opciones .contmasform, .body_carrito .bodyc__item .info_producto .info__opciones .contmasform .btn_menos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
}

.body_carrito .bodyc__item .info_producto .info__opciones .contmasform {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
}

.body_carrito .bodyc__item .info_producto .info__opciones .contmasform, .body_carrito .bodyc__item .info_producto .info__opciones .contmasform .btn_menos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
}

.body_carrito .bodyc__item .info_producto .info__opciones .contmasform .btn_mas {
  float: left;
  width: 30px;
  height: 30px;
  background-size: 15px;
  border-radius: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  font-weight: 700;
}

.body_carrito .bodyc__item .opciones_productoc {
  float: left;
  width: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body_carrito .bodyc__item .opciones_productoc .ico_eliminar, .body_carrito .bodyc__item .opciones_productoc .ico_eliminarproducto {
  margin-left: 5px;
  float: left;
  width: 100%;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.body_carrito .bodyc__item .opciones_productoc .ico_eliminar {
  font-size: 20px;
  background-size: 20px;
}

.footer_carrito {
  float: left;
  width: 100%;
  height: 25%;
  z-index: 1;
  padding: 10px;
  background: #f3c5d3;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.footer_carrito .cont_sub {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  background: transparent;
  justify-content: space-between;
}

.footer_carrito .cont_sub:hover {
  background: #fff;
}

.footer_carrito .cont_sub input {
  float: left;
  width: 100%;
  padding: 5px 0;
  background: transparent;
  border: 1px solid #FD306E;
  border-radius: 5px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  color: #FD306E;
}

.footer_carrito .cont_total {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 25px;
}

.footer_carrito .cont_total p {
  float: left;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 18px;
  color: #FD306E;
}

.btn_paymentsales, .container_listpayment {
  float: left;
  width: 100%;
}

.btn_paymentsales {
  padding: 10px;
  border-radius: 5px;
  border: none!important;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  background: #FD306E;
}

@media screen and (max-width: 390) {
  .btn_paymentsales {
    padding: 5px;
    border-radius: 5px;
    border: none!important;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    background: #FD306E;
  }
}

/*Fin Estilos Carrito*/

/*Estilos Modal Detalle producto*/

.my_modalpg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3000 !important;
  display: block;
  overflow-x: hidden;
  background: hsla(0, 0%, 100%, .9);
  overflow-y: auto;
  outline: 0;
  -webkit-animation: .2s baaparecer;
  animation: .2s baaparecer;
}

.modalpg_dialog {
  position: relative;
  width: 60%;
  max-width: 880px;
  margin: 5% auto;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .modalpg_dialog {
    position: absolute;
    width: 100%;
    max-width: 100vh;
    margin: 0;
    pointer-events: none;
  }
}

#area_detalleproductot {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, .1);
  border-radius: 2px;
  width: 100%;
  height: 500px;
  pointer-events: auto;
  z-index: 200;
}

@media screen and (max-width: 992px) {
  #area_detalleproductot {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, .1);
    border-radius: 2px;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
    z-index: 200;
  }
}

@media screen and (max-width: 600px) {
  #area_detalleproductot {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, .1);
    border-radius: 2px;
    width: 100%;
    height: 100vh;
    pointer-events: auto;
    z-index: 200;
  }
}

.no_border {
  border: none!important;
}

.header_dprocuto {
  float: left;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d3e0e9;
  position: relative;
}

.header_dprocuto .areacerrar {
  position: absolute;
  right: 10px;
  top: 5px;
}

.header_dprocuto .icocerrar {
  float: left;
  width: 30px;
  height: 30px;
  opacity: 1;
  background-size: 17px;
  cursor: pointer;
}

.areacerrar fa-icon {
  font-size: 22px;
}

.container_detalle {
  float: left;
  width: 100%;
  height: 91%;
  overflow: auto;
}

.container_detalle .cont_hedimg {
  height: 95%;
}

.detalles-product {
  padding-top: 50px;
  padding-left: 30px;
}

@media screen and (max-width: 992px) {
  .detalles-product {
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .detalles-product {
    padding-top: 0;
  }
}

.container_detalle .imgproduto_detale {
  float: left;
  width: 100%;
  height: 400px;
  background-size: auto 80%!important;
}

@media screen and (max-width: 992px) {
  .container_detalle .imgproduto_detale {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .container_detalle .imgproduto_detale {
    height: 200px;
  }
}

.container_detalle .productov_cont {
  height: 95%;
}

.tit_dprod p {
  text-align: left;
  color: #d84672;
  font-size: 25px;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 25px;
}

.container_detalle .producto_descri {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.container_detalle .producto_descri .container_vermas, .container_detalle .producto_descri .container_vermenos {
  float: left;
  width: 100%;
}

.container_detalle .producto_descri p {
  float: left;
  width: 100%;
  font-size: 18px;
  color: #d84672;
  margin-bottom: 0;
}

.form_left {
  float: left!important;
  width: 100%!important;
}

.container_detalle .container_cant {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container_detalle .container_cant .container_addproducto {
  float: left;
  width: 100%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.container_detalle .container_cant .container_addproducto label.m_unit {
  margin-right: 26px;
}

.container_detalle .container_cant .container_addproducto label {
  float: left;
  width: 100%;
  font-size: .9em;
  font-weight: bold;
  color: #FD306E;
}

.container_detalle .container_cant .container_addproducto span {
  float: left;
  width: 100%;
  font-size: .9em;
  color: #d84672;
  margin: 0;
  cursor: pointer;
}

.container_detalle .container_cant .container_addproducto .form_unit {
  float: left;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.body_carrito .bodyc__item .info_producto .info__opciones .contmasform .btn_menos {
  float: left;
  height: 30px;
  background-size: 13px;
  border-radius: 0;
  cursor: pointer;
  margin-top: 0;
  font-weight: 20;
}

.body_carrito::-webkit-scrollbar {
  width: 7px;
}

.body_carrito::-webkit-scrollbar-track {
  background: #f3c5d3;
}

.body_carrito::-webkit-scrollbar-thumb {
  background-color: #d84672;
  border-radius: 20px;
  border: 3px #f3c5d3;
}

.container_detalle::-webkit-scrollbar {
  width: 7px;
}

.container_detalle::-webkit-scrollbar-track {
  background: #f3c5d3;
}

.container_detalle::-webkit-scrollbar-thumb {
  background-color: #d84672;
  border-radius: 20px;
  border: 3px #f3c5d3;
}

.container_detalle .container_cant .container_addproducto .form_unit .btn_menos {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  border: 1px solid #FD306E;
  border-right: none;
  background-size: 13px;
}

.container_detalle .container_cant .container_addproducto .form_unit .input_forms {
  width: 50px;
  height: 30px;
  border: 1px solid #FD306E;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none!important;
  text-align: center;
  padding-left: 10px;
  background: #fff;
}

.container_detalle .container_cant .container_addproducto .form_unit .btn_mas, .container_detalle .container_cant .reviews {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container_detalle .container_cant .container_addproducto .form_unit .btn_mas {
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 0;
  border-radius: 0 5px 5px 0;
  border: 1px solid #FD306E;
  border-left: none;
  background-size: 10px;
}

.container_buttonsdetaller {
  float: left;
  width: auto;
  margin-top: 5px;
  padding: 0;
}

.container_buttonsdetaller .btn_agregarproducto {
  float: left;
  width: auto;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  cursor: pointer;
  background: #FD306E;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.container_buttonsdetaller {
  float: left;
  width: auto;
  margin-top: 5px;
  padding: 0;
}

/*Fin Estilos Modal Detalle producto*/

/*Estilos formulario pago */

.btn-link {
  cursor: pointer;
  text-decoration: none;
}

.pago_container {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 44px;
  overflow: auto;
}

.pago_container::-webkit-scrollbar {
  width: 7px;
}

.pago_container::-webkit-scrollbar-track {
  background: #f3c5d3;
}

.pago_container::-webkit-scrollbar-thumb {
  background-color: #FD306E;
  border-radius: 20px;
  border: 3px #f3c5d3;
}

.monto-container-tienda small {
  color: #d84672;
  font-size: 15px;
  display: block;
  text-align: -webkit-center;
}

.monto-container-tienda p {
  float: left;
  width: 80%;
  margin: 0 10% 15px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background: transparent;
  border-radius: 5px;
  color: #FD306E;
}

.container_flexcenter {
  width: 100%;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.mtop {
  margin: 5px;
}

.ico_nombre {
  background: url(/assets/icons/user-regular.svg) no-repeat 10px;
  background-size: 13px;
}

.mariginleftcomtainer {
  padding-left: 10px;
}

.input__tienda {
  float: left;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  padding: 10px 0 10px 35px!important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  margin-top: 5px;
}

.ico_nit {
  background: url(/assets/icons/file-alt-regular.svg) no-repeat 10px;
  background-size: 13px;
}

.form-horizontal .form-group label {
  font-weight: 400;
}

.form-group p {
  font-weight: 400;
}

.ico_email {
  background: url(/assets/icons/envelope-regular.svg) no-repeat 10px;
  background-size: 13px;
}

.ico_telefono {
  background: url(/assets/icons/mobile-alt-solid.svg) no-repeat 10px;
  background-size: 13px;
}

.btn-siguiente {
  float: left;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  border: none!important;
  background: #d84672;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.container_flexcenter {
  width: 100%;
  margin-bottom: 20px;
}

.boxcontainer_form {
  padding: 10px;
  width: 520px;
  max-width: 520px;
  height: auto;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .08);
  border: 1px solid #eee;
}

.boxcontainer_form, .container_flexcenter {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cross-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.cross-start, .main-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ico_ciudad {
  background: url(/assets/icons/building-regular.svg) no-repeat 10px;
  background-size: 13px;
}

.ico_street {
  background: url(/assets/icons/map-marker-alt-solid.svg) no-repeat 10px;
  background-size: 13px;
}

.ico-world {
  background: url(/assets/icons/globe-europe-solid.svg) no-repeat 10px;
  background-size: 13px;
}

.label_cart, .text__more_prod {
  float: left;
  width: 100%;
}

.text__more_prod p {
  font-size: 15px;
}

.text__more_prod h2, .text__more_prod p {
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  color: var(--green-primary);
}

.toggleNit {
  position: static !important;
  z-index: 1 !important;
  margin: 10px;
}

.container_listpayment .options_items .items_paymen.icon_card {
  background: url(/assets/icons/credit-card-solid.svg) no-repeat 5px;
  background-size: 25px;
}

.container_listpayment .options_items .items_paymen {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0 15px 40px;
  font-size: 15px;
  color: #FD306E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

/*Fin Estilos formulario pago */

/*Varias imagenes*/

img {
  max-width: 100%;
}

img.imagen-izquierda {
  width: 50px;
  min-width: 50px;
  opacity: 0.7;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  border: 5px solid #e0e0e0;
  border-radius: 5%;
  float: left;
}

img.imagen-derecha {
  float: left;
}

img.imagen-izquierda.seleccionada {
  opacity: 1;
}

.izquierda {
  margin-right: 0px;
}

.ed-container ul li {
  color: #d84672;
  list-style: none;
}

/*Fin Varias imagenes*/

/*Nav bar*/

.d-flex {
  padding-right: 20px;
  padding-left: 25px;
}

.form-control {
  padding: 2.5px;
}

.buscar-ico fa-icon {
  font-size: 20px;
}

.buscar-ico {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/*Fin Nav bar*/

/*-- login --*/

.login-right, .login-bottom {
  float: left;
  width: 90%;
  margin: 0 2%;
}

.login-right input[type="text"], 
.login-right input[type="password"], 
.login-right input[type="email"], 
.login-bottom input[type="text"], 
.login-bottom input[type="password"], 
  .login-bottom input[type="email"] {
  width: 100%;
  padding: 10px;
  font-weight: normal;
  background: none;
  border: 1px solid #E6E4E4;
  color: #d84672;
  outline: none;
  font-size: 14px;
  margin: 6px 0 17px 0px;
}

.login-right input[type="text"]:hover, 
.login-right input[type="password"]:hover, 
.login-right input[type="email"]:hover, 
.login-bottom input[type="text"]:hover, 
.login-bottom input[type="password"]:hover, 
  .login-bottom input[type="email"]:hover {
  border: 1px solid #d84672;
}

.login-right h4, .login-bottom h4 {
  color: #000000;
  font-size: 14px;
  margin: 0 0 0px 0;
  font-family: 'Lato', sans-serif;
}

.login-right input[type="submit"], .login-bottom input[type="submit"] {
  background: #7B7B7B;
  color: #fff;
  font-size: 17px;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  padding: 8px 15px 9px 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.login-right input[type="submit"]:hover, .login-bottom input[type="submit"]:hover {
  background: #d84672;
}

.login-right h3, .login-bottom h3 {
  color: #d84672;
  font-size: 22px;
  margin-bottom: 23px;
}

.sign-in a {
  font-size: 12px;
  color: rgb(48, 46, 46);
  cursor: pointer;
  text-decoration: none;
}

.sign-in a:hover {
  color: #d84672;
}

.single-bottom {
  margin: 14px 0 22px;
}

.single-bottom label {
  margin-left: 5px;
}

/*-- //login --*/

/*SideNav*/

.tienda_select{
  cursor: pointer;
}

.tienda_select h1{
 text-transform: uppercase;
 font-size: 15px;
}


.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 365px;
}

@media screen and (max-width: 365px) {
  mat-sidenav {
    width: 100%;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Fin SideNav*/

/*Toolbar*/

.icon_toolbar {
  font-size: 22px;
}

.login_toolbar {
  cursor: pointer;
  margin-right: 20px;
  font-size: 22px !important;
  padding-top: 4px !important;
}

.toolbarPhone {
  display: none;
}

.toolbarPhone, .toolbarlarge {
  position: fixed !important;
}

@media screen and (max-width: 767px) {
  .toolbarlarge {
    display: none !important;
  }
  .logo h1 {
    margin-left: 3 !important;
    padding: 0 !important;
  }
  .logo {
    margin: 0 !important;
    padding: 0 !important;
  }
  .login_toolbar {
    margin: 0 !important;
    padding-right: 5px !important;
  }
  .toolbarPhone {
    display: block !important;
  }
}

/*Fin Toolbar*/

/*Carrito */

.icon_close_head {
  cursor: pointer;
}

.icon_close_head fa-icon {
  font-size: 22px;
  font-weight: 5;
  float: right;
}

.head__carrito {
  position: absolute;
  z-index: 1000;
  height: 44px;
}

.example-spacer {
  text-align: center;
  color: #fff;
}

/*Fin Carrito */

/*Contendo derecho*/

.container_main::-webkit-scrollbar {
  width: 7px;
}

.container_main::-webkit-scrollbar-track {
  background: #f3c5d3;
}

.container_main::-webkit-scrollbar-thumb {
  background-color: #FD306E;
  border-radius: 20px;
  border: 3px #f3c5d3;
}

.container_page {
  height: 100vh;
  width: 100vw;
  margin-top: 65px;
  position: fixed;
}

.container_start {
  width: 190px;
  height: 100%;
  float: left;
  overflow: auto;
}

.container_main {
  width: calc(100% - 190px);
  height: 100%;
  float: left;
  overflow: auto;
}

.container__products {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .container_start {
    display: none;
  }
  .container_page {
    margin-top: 128px;
  }
  .container_main {
    width: 100%;
  }
}

.categoria_sideBar {
  margin-top: 44px;
}

.categoria_head {
  height: 44px !important;
}

/*Fin Contendo derecho*/

/*Categorías*/

.categorias_nav {
  width: 100%;
  height: calc(100% - 64px);
  color: #d84672;
  font-size: 17px;
  overflow: auto;
}

.categorias_nav p {
  text-transform: lowercase;
}

.categorias_nav p:first-letter {
  text-transform: uppercase;
}

.categorias_nav h6 {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  float: left;
  width: 100%;
  font-size: 20px;
  color: black;
  font-weight: 600;
  background-color: #F8F8F8;
}

.child_hover:hover {
  background-color: #d84672;
  color: #fff;
}

.child_hover {
  padding: 5px;
  padding-left: 15px;
  cursor: pointer;
}

.cat_todas {
  margin-top: 40px;
}

.icon_none {
  color: transparent;
}

.icon_more {
  margin-left: 10px;
}

.categorias_nav ul, li {
  list-style: none;
}

.child_cat {
  margin-left: 10px;
  font-size: 14px !important;
  background-color: #fff;
}

.child_text:hover {
  font-size: 14px !important;
}

.categorias_nav p:hover {
  font-size: 18px;
}

.icons_drop :hover {
  font-size: 16px !important;
}

.active_cat {
  background-color: #d84672;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .categorias_nav {
    height: 100%;
  }
  .cat_todas {
    padding: 0;
    margin-top: 28px;
  }
}

.head_phone_cat {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  float: left;
  width: 100%;
  font-size: 20px;
  color: black;
  font-weight: 600;
  background-color: #F8F8F8;
}

.head_carr_end {
  color: #000;
  font-weight: 300;
}

/*Fin Categorías*/